@charset "UTF-8";
*{
    font-family:monospace;

}
body{
    background-image: linear-gradient(45deg, #cab1bd, #756deb50);
    background-attachment: fixed;
}
main{
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px #043c5e4b;
    width: 600px;
    margin: auto;
}

div{
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px #043c5e4b;
    width: 600px;
    margin: auto;
}
h2{
    color: #048ABF;
    text-align: center; 
    text-shadow: 1px 1px 2px #043c5e4b;

}
h1{
    color: #1c00bb;
   text-align: center; 
   text-shadow: 1px 1px 2px #0c0249;
   background-color: white;
   border-radius: 10px;
   box-shadow: 10px 10px 10px #043c5e4b;
   width: 600px;
   margin: auto;
}
p{
    text-align: justify;
    margin: auto;
    padding: 10px;
}
